/* Estilos por defecto */
:root{
    font-size: 16px;
    --primary: #D91438;
    --dark: #590817;
    --light:#DF5770;
    --white:#ffeeff;
    --black:#29040b;
    --component-gap:30px;
}
*,*::after,*::before{
    box-sizing: border-box;
    color: var(--black);
}
body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
h1,h2,h3{
    text-align: center;
    color: var(--dark);
    margin: 5px;
}
/* General styles */
.card{
    padding: 5px;
    border: 1px solid gray;
    /*box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.51);*/
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 5px;
    justify-content: center;
}
p.data-item{
    padding: 2px 5px;
    border-radius: 50px;
    background-color: rgb(235, 235, 235);
    margin: 0;
}
.regular-paragraph{
    line-height: 25px;
    text-align: justify;
}
.regular-paragraph::first-letter{
    font-size: 1.2rem;
    color: var(--dark);
}
.tag{
    display: inline-block;
    background-color: var(--primary);
    border-radius: 50px;
    color: var(--white);
    padding: 5px 15px;
    margin: 0 10px;
}
.action-button{
    background-color: var(--primary);
    color: var(--white);
    padding: 5px;
    border-radius: 5px;
}
.styled-link{
    color: var(--primary);
}
.component-top{
    margin: 0 0 var(--component-gap) 0;
}
.component{
    margin: var(--component-gap) 0;
}
.component-bottom{
    margin: var(--component-gap) 0 0 0;
}
#content section{
    margin: 20px 10px;
}
.title-1{
    color: var(--primary);
}
.emphasised{
    
    color: var(--primary);
    padding: 2px;
}
.visible{
    visibility: visible;
    opacity: 1;
}
/* Header */
header{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 20px;
}
.menu-header a{
    margin: 0 10px;
    text-decoration: none;
}
/* Footer */
footer{
    display: flex;
    justify-content: center;
}
/* Sections */
section[id]{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#presentation cite{
    text-align: center;
}
section[id] > *{
    max-width: min(700px,85%);
}
#presentation img{
    width: 12rem;
    height: auto;
    border-radius: 50%;
}
section#skillset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.job-item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 0;
}
.job-item p{ margin: 0; }
.job-description{
    width: 50%;
}
.job-title{
    width: 100%;
    border-bottom: 2px solid var(--primary);
    text-transform: uppercase;
    font-size: 1.2rem;
}
.job-item p.job-duration{
    align-self: flex-end;
    margin: 10px 0 5px 0;
}
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 20px 0;
}
.grid-item{
    border-radius: 15px;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
    aspect-ratio: 1/1;
    background-size: cover;
    cursor: pointer;
    position: relative;
}
#convento{background-image: url('../img/Convento.png');}
#calc{background-image: url('../img/calculator.png');}
#real{background-image: url('../img/real.png');}
#landing{background-image: url('../img/landing-page.png');}
#tictac{background-image: url('../img/tic-tac-toe.png');}
#cv{background-image: url('../img/cv.png');}

.project-info{
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0.8;
    width: 100%;
}
.project-info a{
    margin: 10px;
    color: var(--white);
    background-color: var(--light);
    border-radius: 50px;
    text-decoration: none;
}
.project-title{
    width: 100%;
    text-align: center;
    color: var(--white);
}
i,i::after,i::before{margin: 0 2px; color: inherit;}

/* Form and Inputs */
form{
    width: 100%;
    padding: 0 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.f{
    display: flex;
    flex-wrap: wrap;
}
input{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    width: 50%;
}
textarea{
    width: 95%;
    box-sizing: border-box;
}
/* Media Queries */

@media (max-width:810px) {
    header{
        justify-content: center;
    }
    .tag{
        margin: 5px;
    }
    .grid{
        grid-template-columns: repeat(2,1fr);
    }

}
@media (max-width:600px) {
    #presentation img{
        width: 9rem;
    }
    #presentation h1{
        font-size: 1.3rem;
    }
    .grid{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .descartable{
        display: none;
    }
    input{
        width: 100%;
    }
}